:root{
    --light-beige: #F5F3EF;
    --white: #FFFFFF;
    --mustard-yellow: #FEBD2F;
    --black: #000000;
    --dark-grey: #646464;
    --light-grey: #DCDCDC;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--light-beige);
}

.container {
    background-color: var(--light-beige);
    margin: 0 auto;
    width: 90%;
    height: 100px;
}

/*header*/
header {
    display: flex;
    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 75px;
    background-color: lightblue;

    align-items: center;
}

nav a {
    color: var(--black);
    text-decoration: none;
    background-color: lightcoral;
    padding: 10px;
    margin: 20px;
}

.logo {

}


header button {
    color: var(--white);
    background-color: var(--black);
    border-radius: 100px;
    padding: 10px 15px;
    margin-left: 950px;
}

/*banner*/
.banner {
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 40px;
}

.banner_left {
    background-color: var(--light-beige);
    padding: 0px;
}

.banner_text {
    font-size: 35px;
}

.banner_text p {
    font-size: 20px;
    color: var(--dark-grey);
}

.banner_right {

}

.pic {

}

/*main*/
.main_container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 30px;
    padding-bottom: 80px;

    background-color: lightsalmon;
}

.main {
    background-color: red;
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
}
/*
.main h2 {
    display: flex;
    align-content: center;
}*/

.icon {
    position: relative;
    height: 40px;
    width: 45px;

    top: 0px;
    left: 250px;
}

.courses_container {
    display: flex;
    flex-direction: column;
    background-color: orange;
    border-radius: 10px;
    padding: 20px;
}

.main-btn {
    display: flex;
    flex-wrap: wrap;

    color: var(--black);
    background-color: var(--white);
    border-radius: 100px;
    padding: 10px 15px;
}

/*footer*/
footer {

}

.footer_logo {

}